* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Sf display, sans-serif;
  background-color: whitesmoke;
  -webkit-font-smoothing: antialiased;
}

.navbar {
  width: 1116px;
  height: 42px;
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.material-icons{
  background-color: transparent;
  color: white;
  transform: translateX(-200px);
  border: none;
}

.navbar-content-left {
  width: 311.89px;
  display: flex;
  align-items: center;
}

.navbar-content-left img {
  width: 138px;
  height: 15px;
}

.navbar-content-left .divider {
  border-left: 1px solid white;
  height: 18px;
  margin-left: 29.55px;
  margin-right: 20.17px;
}

.material-symbols-outlined {
  color: white;
  opacity: 0.5;
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" -25, "opsz" 24;
}

.navbar-content-left form {
  margin-left: 10px;
}

.navbar-content-left input {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
}

.nav-content-right {
  display: flex;
  align-items: center;
}

.nav-content-right1 {
  color: gray;
  font-size: 11.6px;
}

.nav-content-right2 {
  color: white;
  font-size: 12px;
  margin-left: 7.72px;
  margin-right: 12.64px;
}

.nav-content-right3 {
  text-align: center;
  width: 142.68px;
  height: 40px;
  background-color: rgba(206, 206, 206, 0.5);
  border-radius: 30px;
  color: white;
  box-shadow: #d1d1d1 60%;
  font-size: 11.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8.87px;
}

.nav-content-right3-blink {
  color: rgb(0, 120, 246);
  font-size: 23px;
  animation: blink 1s infinite;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0)),
    url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/1451f11e03da76480966b636a622119a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  padding-bottom: 8vw;
}

.hero-content {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 121px;
  text-transform: uppercase;
  gap: 60.39px;
}

.hero-content-left {
  background-image: url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/21632b19dec071508e1e0ae5f5e153e1.jpg");
  background-size: 180%;
  background-position: center;
  height: 446.4px;
  width: 446.4px;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.hero-content-left:hover {
  background-size: 200%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-content-right {
  margin-top: 45px;
  width: 600px;
}

.hero-content-right .blinkTitle {
  animation: blink 1s infinite;
  color: #3399ff;
  font-size: 14.1px;
}

.hero-content-right h1 {
  -webkit-text-stroke: 1px white;
  color: transparent;
  margin-top: 22px;
}

.hero-content-right a {
  text-decoration: none;
  color: white;
  font-size: 35px;
  font-weight: bold;
}

.hero-content-right .author {
  margin-top: 54px;
  display: flex;
  gap: 7px;
}

.hero-content-right .author-logo img {
  border: 1px solid gray;
  padding: 2.5px;
  height: 44px;
  width: 44px;
  border-radius: 100%;
}

.hero-content-right .author-name {
  font-size: 12px;
  color: gray;
  text-transform: none;
}

.hero-content-right .author-name:hover {
  color: white;
  transition: all 0.2s ease-in-out;
}

.author .author-date {
  color: white;
  font-size: 11.8px;
  line-height: 20px;
}

.scrolling-section {
  height: 250px;
  background-color: black;
  margin: auto;
}

.scrolling-section-tile {
  top: 0;
  left: 50px;
  margin: auto;
  width: 1116.01px;
  display: flex;
  justify-content: space-between;
}

.scrolling-section-tile .title {
  color: white;
  font-weight: 700;
}

.scrolling-section-tile .scroll-remoter {
  display: flex;
  justify-content: center;
}

.scroll-remoter-left {
  color: gray;
  background-color: rgba(206, 206, 206, 0.5);
  display: flex;
  align-items: center;
  padding: 0 0 3px 13px;
  width: 26.3px;
  height: 24px;
  font-size: 20px;
  border-radius: 25px 0 0 25px;
  box-sizing: border-box;
}

.scroll-remoter-left:hover {
  color: white;
}

.scroll-remoter-right {
  color: gray;
  background-color: rgba(206, 206, 206, 0.5);
  display: flex;
  align-items: center;
  padding: 0 13px 3px 2px;
  width: 26.3px;
  height: 24px;
  font-size: 20px;
  border-radius: 0 25px 25px 0;
  box-sizing: border-box;
}

.scroll-remoter-right:hover {
  color: white;
}

.scroll-section-photos {
  display: flex;
  gap: 20px;
  padding-top: 50px;
  margin: auto;
  max-width: 1375px;
  overflow-x: scroll;
  height: 400px;
}

.scroll-section-photos a {
  text-decoration: none;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.scroll-section-photo {
  margin-top: -30px;
  min-width: 244px;
  height: 360.36px;
  background-position: center;
  background-size: 160%;
  border-radius: 10px;
  animation: scrollText 10s infinite linear;
}

.img1 {
  margin-left: 20px;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(img1.jpeg);
}
.img2 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(img2.jpeg);
}
.img3 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(img3.jpeg);
}
.img4 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(img4.jpeg);
}
.img5 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(img5.jpeg);
}
.img6 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(img6.jpeg);
}
.img7 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url(img7.jpeg);
}

.scroll-section-photo:hover {
  scale: 1.1;
}

.container {
  margin-top: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 179px;
}

.scroll-section-photo .dot {
  color: #0078f6;
  font-size: 23px;
}

.scroll-section-photo .time {
  color: white;
  font-size: 11.6px;
  font-weight: 400;
}

.photo-bottom-section {
  color: white;
}

.scroll-section-photos .eye-section {
  margin-top: 200.86px;
  margin-left: 17px;
  display: flex;
  align-items: center;
}

.eye-section .eye {
  width: 21px;
  height: 11.46px;
  margin-left: 16px;
  margin-right: 5px;
}

.eye-section .msg {
  width: 15px;
  height: 13.13px;
  margin-left: 16px;
  margin-right: 5px;
}

.photo-bottom-section {
  max-height: 131px;
}

.relative2 {
  position: relative;
  bottom: 16px;
}

.relative3 {
  position: relative;
  bottom: -3px;
}

.relative4 {
  position: relative;
  bottom: -22px;
}

.photo-bottom-section .description {
  margin-left: 17px;
  margin-top: 14.5px;
}

.photo-bottom-section .description .blueSection {
  margin-top: 10px;
  text-align: center;
  height: 23px;
  background-color: #0078f6;
  border-radius: 23px;
  font-size: 9.5px;
  font-weight: 500;
  border: none;
  padding: 0px 10px;
  color: white;
}

.message-section {
  margin-top: 240px;
  margin-left: auto;
  margin-right: auto;
  height: 1400px;
  width: 1116px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.right {
  align-content: end;
  height: 246px;
}

.left {
  align-content: end;
  height: 246px;
}

.message {
  width: 739px;
  height: 236px;
  transition: all 0.2s ease-in-out;
}

.left .profile-name-date {
  display: flex;
  align-items: center;
  gap: 7px;
}

.right .profile-name-date {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 7px;
}

.profile {
  width: 739px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 6px;
}

.profile img {
  border-radius: 50px;
  width: 36px;
  height: 36px;
}

.name-date {
  min-width: 142px;
  font-size: 11.8px;
}

.date {
  margin-top: 2px;
  color: #888888;
}

.right .name-date .name {
  display: flex;
  flex-direction: row-reverse;
}

.left .message-body {
  border-radius: 0 27px 27px 27px;
}

.right .message-body {
  border-radius: 27px 0 27px 27px;
}

.right {
  display: flex;
  justify-content: end;
}

.message-body {
  margin-top: 13px;
  width: 739px;
  height: 183px;
  background-color: white;
  padding-left: 27px;
  padding-top: 27.5px;
  display: flex;
  position: relative;
  box-sizing: border-box;
}

.message-body .dot {
  color: #0078f6;
  font-size: 30px;
}

.message-body-text {
  margin-left: 12px;
}

.message-body-title {
  margin-top: 6px;
  color: #0078f6;
  font-size: 12.4px;
  line-height: 22px;
}

.message-body-text .text {
  font-size: 21.1px;
  font-weight: 700;
  margin-top: 0.5px;
  line-height: 26px;
}

.message-body img {
  border-radius: 50px;
  position: absolute;
  width: 135px;
  height: 135px;
  top: 28px;
  right: 65px;
}

.message:hover {
  transform: translateY(-10px);
}

.message:hover .message-body {
  box-shadow: 0px 0px 50px 4px rgba(209, 209, 209, 0.5);
}

.message-body-text .text:hover {
  color: #0078f6;
}

.grid-section {
  width: 1116px;
  height: 1400.78px;
  margin: auto;
  margin-top: 79px;
}

.grid-list {
  width: 1121px;
  height: 61px;
  margin-left: -5px;
  display: flex;
  list-style: none;
  color: #888888;
  border-bottom: 1px solid #e6e6e6;
}

.grid-list .list1 {
  color: #0078f6;
  width: 212px;
  height: 62px;
  border-bottom: 3px solid #0078f6;
}

.grid-list .list1:hover::after {
  border-bottom: 3px solid #0078f6;
}

.grid-list .list2 {
  display: flex;
  justify-content: center;
  margin-left: 68.25px;
  width: 280.25px;
  height: 62px;
}

.grid-list .list2:hover {
  color: #0078f6;
  border-bottom: 3px solid #0078f6;
}

.grid-list .list3 {
  display: flex;
  justify-content: center;
  width: 280.25px;
  height: 62px;
}

.grid-list .list3:hover {
  color: #0078f6;
  border-bottom: 3px solid #0078f6;
}

.grid-list .list4 {
  width: 280.25px;
  height: 62px;
  display: flex;
  justify-content: end;
}

.grid-list .list4:hover {
  color: #0078f6;
  border-bottom: 3px solid #0078f6;
}

.grid-body {
  width: 1135px;
  height: 1302.79px;
  margin-top: 37px;
}

.grid {
  max-width: 1135px;
  height: 633.9px;
  padding: 19px 0 0 19px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 19px;
  /* font-size: 1.26rem; */
}

.grid .grid-item1 {
  grid-column: 1 / 3;
  grid-row: 1 / 7;
  background-position: center;
  background-size: cover;
  border-radius: 18px;
  align-content: flex-end;
}

.body1 .grid-item1 {
  background-image: url(body1-item1.png);
}

.grid .grid-item2 {
  grid-column: 3 / 4;
  grid-row: 1 / 5;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  align-content: flex-end;
}

.body1 .grid-item2 {
  background-image: url(body1-item2.jpeg);
}

.grid .grid-item3 {
  grid-column: 4 / 5;
  grid-row: 1 / 5;
  background-color: whitesmoke;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  align-content: flex-end;
}

.body1 .grid-item3 {
  background-image: url(body1-item3.jpeg);
}

.grid .grid-item4 {
  grid-column: 1 / 2;
  grid-row: 7 / 11;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  align-content: flex-end;
}

.body1 .grid-item4 {
  background-image: url(body1-item4.jpeg);
}

.grid .grid-item5 {
  grid-column: 2 / 3;
  grid-row: 7 / 11;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  align-content: flex-end;
}

.body1 .grid-item5 {
  background-image: url(body1-item5.jpeg);
}

.grid .grid-item6 {
  grid-column: 3 / 4;
  grid-row: 5 / 11;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  align-content: flex-end;
}

.body1 .grid-item6 {
  background-image: url(body1-item6.jpeg);
}

.grid .grid-item7 {
  grid-column: 4 / 5;
  grid-row: 5 / 11;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  align-content: flex-end;
}

.body1 .grid-item7 {
  background-image: url(body1-item7.jpeg);
}

.grid-items {
  height: auto;
  border-radius: 0 0 18px 18px;
  background: #00000033;
  box-sizing: border-box;
  padding: 16px 23px 26px 23px;
  position: relative;
}

.grid-items-footer-title {
  line-height: 22px;
  color: white;
  opacity: 0.6;
  font-size: 11.6px;
  font-weight: 400;
}

.grid-items-footer-subheading {
  margin-top: 3px;
  color: white;
  font-size: 15.8px;
  font-weight: 700;
}

.grid-items-footer-time {
  position: absolute;
  color: white;
  width: 62.54px;
  height: 28px;
  background-color: rgba(206, 206, 206, 0.5);
  top: -14px;
  right: 16.99px;
  font-size: 11.8px;
  font-weight: 500;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  border-radius: 7px;
  align-items: center;
}

.grid-body .under {
  margin-top: 2vw;
}

.body2 .grid-item1 {
  background-image: url(body2-item1.jpeg);
}

.body2 .grid-item2 {
  background-image: url(body2-item2.jpeg);
}

.body2 .grid-item3 {
  background-image: url(body2-item3.jpeg);
}

.body2 .grid-item4 {
  background-image: url(body2-item4.jpeg);
}

.body2 .grid-item5 {
  background-image: url(body2-item5.jpeg);
}

.body2 .grid-item6 {
  background-image: url(body2-item6.jpeg);
}

.body2 .grid-item7 {
  background-image: url(body2-item7.jpeg);
}

.grid-hover:hover {
  transform: translateY(-10px);
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 50px 4px rgba(167, 165, 165, 0.6);
}

.footer-section {
  margin-top: 70px;
  height: 832px;
  background-color: black;
}

.grid-under-white-section {
  height: 5vw;
  background-color: whitesmoke;
  border-radius: 0 0 36px 36px;
}

.footer-body-section {
  width: 1166px;
  height: 403px;
  margin: auto;
  margin-top: 75px;
  display: flex;
}

.body-left-section {
  width: 466.4px;
  height: 403px;
}

.body-left-section .logo {
  width: 134.38px;
  height: 18px;
  margin-left: 50px;
  margin-top: 2.38px;
}

.body-button {
  background-image: url(btn-black.png);
  background-position: center;
  background-size: cover;
  width: 323px;
  height: 90px;
  margin-top: 49px;
  margin-left: 50px;
  border-radius: 18px;
  padding-left: 28px;
  padding-top: 20px;
  box-sizing: border-box;
  position: relative;
  transition: all 0.2s ease-in-out;
  border: none;
}

.body-button-texts{
  width: auto;
  height: auto;
}

.body-button-text-top {
  color: white;
  font-size: 11.6px;
  font-weight: 300;
  opacity: 30%;
  line-height: 22px;
}

.body-button-text-under {
  color: white;
  font-size: 13.4px;
  font-weight: 500;
  line-height: 20px;
}

.body-button-arrow-out {
  width: 54px;
  height: 54px;
  position: absolute;
  top: 18px;
  right: 18px;
  border-radius: 100%;
  align-content: center;
}

.body-button-arrow {
  width: 36px;
  height: 36px;
  background-color: black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.body-button-arrow img {
  width: 25px;
  height: 25px;
}

.body-button:hover {
  transform: translateX(10px);
}

.body-button:hover .body-button-arrow {
  background-color: #3399ff;
}

.body-button:hover .body-button-arrow-out {
  background-color: rgba(51, 153, 255, 0.3);
}

.app-link a {
  display: flex;
  width: 144px;
  height: 45.57px;
}

.app-link {
  display: flex;
  gap: 25.55vw;
  margin-left: 50px;
  margin-top: 56px;
  width: auto;
  height: auto;
}

.body-right-section {
  width: auto;
  height: auto;
  margin-left: 49.61px;
}

.right-section-title {
  width: auto;
  height: auto;
  margin-top: 0.5px;
  line-height: 20px;
  margin-left: 40px;
  color: white;
  font-size: 13.4px;
  font-weight: 500;
  display: flex;
}

.right-section-title span {
  transition: all 0.2s ease-in-out;
  display: flex;
}

.right-section-title p {
  margin-left: 1vw;
  margin-right: 1vw;
}

.right-section-title span:hover {
  opacity: 0.7;
}

.copyright {
  margin-left: 50px;
  margin-top: 46px;
  font-size: 10px;
  line-height: 13px;
  opacity: 0.6;
  color: white;
  height: 26px;
}

.body-right-section-list {
  margin-top: 46px;
  margin-left: 25px;
  width: 625px;
  height: 264px;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.body-right-section-list ul {
  color: #0078f6;
  font-size: 14.1px;
  font-weight: 700;
  line-height: 24px;
  list-style: none;
}

.body-right-section-list li {
  margin-top: 9px;
  color: white;
  opacity: 0.5;
  font-size: 11.6px;
  font-weight: 400;
  line-height: 20px;
}

.body-right-section-list .number2 {
  margin-top: 30.5px;
}

.body-right-section-list a {
  color: white;
  font-weight: 400;
  font-size: 11.6px;
  line-height: 20px;
  text-decoration: none;
}

.number1 li:hover{
  transform: translateX(10px);
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.number2 li:hover{
  transform: translateX(10px);
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.number3 a:hover{
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}

.footer-section .social-icons{
  display: flex;
  height: 72px;
  justify-content: center;
  gap: 35px;
  margin-top: 75px;
}
